<?xml version="1.0" encoding="UTF-8"?>

<beans
  xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="vertex.schema" class="kernel.source.Schema">
    <constructor-arg>
      <props>
        <prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
        <prop key="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</prop>
        <prop key="hibernate.connection.url">jdbc:derby:.data/content;create=true</prop>
        <prop key="hibernate.hbm2ddl.auto">create-drop</prop>
        <prop key="hibernate.show_sql">true</prop>
      </props>
    </constructor-arg>
    <constructor-arg>
      <list>
        <value>schema.Account</value>
      </list>
    </constructor-arg>
  </bean>
</beans>
