<?xml version="1.0" encoding="UTF-8"?>

<beans
  xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="kernel.content.schema" class="kernel.content.Schema">
    <constructor-arg value="vertex.schema"/>
    <constructor-arg>
      <props>
        <prop key="javax.persistence.jdbc.driver">org.apache.derby.jdbc.EmbeddedDriver</prop>
        <prop key="javax.persistence.jdbc.url">jdbc:derby:.data/test/content;create=true</prop>
        <prop key="eclipselink.ddl-generation">drop-and-create-tables</prop>
        <prop key="eclipselink.ddl-generation.output-mode">database</prop>
      </props>
    </constructor-arg>
  </bean>

  <bean id="kernel.content.mapper" class="kernel.content.Mapper">
    <constructor-arg ref="kernel.content.schema"/>
    <constructor-arg>
      <props>
      </props>
    </constructor-arg>
    <constructor-arg>
      <list>
        <value>kernel.runtime.Views$SIMPLE</value>
        <value>kernel.runtime.Views$DETAIL</value>
      </list>
    </constructor-arg>
  </bean>

  <bean id="kernel.runtime.session" class="kernel.runtime.Session$Provider">
    <constructor-arg>
      <bean factory-bean="kernel.content.schema" factory-method="openSession"/>
    </constructor-arg>
  </bean>

  <bean id="kernel.runtime.verticles" class="java.util.ArrayList">
    <constructor-arg>
      <list>
        <value>kernel.runtime.Verticle</value>
      </list>
    </constructor-arg>
  </bean>

  <bean id="kernel.runtime.handlers" class="java.util.ArrayList">
    <constructor-arg>
      <list>
        <bean class="kernel.runtime.Handler">
          <property name="location" value="/assets/"/>
          <property name="prefix" value="assets/"/>
          <property name="method" value="get"/>
        </bean>
        <bean class="kernel.content.Handler">
          <constructor-arg ref="kernel.content.schema"/>
          <constructor-arg ref="kernel.content.mapper"/>
          <property name="pattern" value="/content/:view/:type/:id|/content/:view/:type|/content"/>
          <property name="method" value="get|put|post|delete"/>
        </bean>
        <bean class="kernel.runtime.Handler">
          <property name="location" value="/"/>
          <property name="prefix" value="modules/"/>
          <property name="suffix" value=".html"/>
          <property name="default" value="profile"/>
          <property name="command" value="gradle --daemon assets"/>
          <property name="method" value="get"/>
        </bean>
      </list>
    </constructor-arg>
  </bean>

  <bean id="kernel.runtime.security" class="kernel.runtime.Security">
    <constructor-arg ref="kernel.content.schema"/>
  </bean>

  <bean id="kernel.runtime.socket" class="kernel.runtime.Socket">
    <constructor-arg ref="kernel.runtime.session"/>
    <constructor-arg>
      <list>
        <ref bean="kernel.runtime.security"/>
      </list>
    </constructor-arg>
  </bean>
</beans>
