<?xml version="1.0" encoding="UTF-8"?>

<beans
  xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="kernel.runtime.verticles" class="java.util.ArrayList">
    <constructor-arg>
      <list>
        <value>kernel.runtime.Verticle</value>
      </list>
    </constructor-arg>
  </bean>

  <bean id="kernel.runtime.handlers" class="java.util.ArrayList">
    <constructor-arg>
      <list>
        <bean class="kernel.runtime.Handler">
          <property name="location" value="/"/>
          <property name="prefix" value="modules"/>
          <property name="suffix" value=".html"/>
          <property name="command" value="gradle --daemon assets"/>
          <property name="method" value="get"/>
        </bean>
      </list>
    </constructor-arg>
  </bean>
</beans>
